#box::-webkit-scrollbar { width: 0 !important }
body::-webkit-scrollbar { width: 0 !important }
#box {
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: text-top;
    width: 100%;
    clear: both;
    
    border-spacing: 0px;
}
.intro-section {
    display: table-cell;
}
.cardhorizontal{
    width: 200px;
    height: 250px !important;
    background-size: cover;
}

.img-container p {
    margin: auto;  
    color: #fff;
    text-align: center;

    line-height: 200px; /* igual height de la imagen */
    
    background: #000;
    transition: opacity .4s linear;
    cursor: pointer;  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
  
  .img-container:hover p {
    opacity: .75;  
  }