.game {
  width: 600px;
  height: 360px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.coin {
  position: absolute;
  background: url(../img/coin.png);
  top: 130px;
  width: 44px;
  left: 10px;
  background-position-y: 1px;
  height: 41.5px;
  z-index: 3;
  transform: scale(0.9, 0.9);
  display: none;
}

.coinanimation {
  animation: coin 0.5s steps(10) infinite, move 3s linear infinite;
}

.fire {
  position: absolute;
  background: url(../img/fire.png);
  top: 200px;
  width: 44px;
  height: 64px;
  z-index: 3;
  transform: scale(0.8, 0.8);
  display: none;

}

.fireanimation {
  animation: fire 0.5s steps(5) infinite, move 2s linear infinite;
}

.puntajes {
  position: absolute;
  top: 300px;
  font-weight: bolder;
}

.gameover {
  position: absolute;
  top: 100px;
  margin-left: 170px;
  color: yellow;
  font-size: 60px;
  font-weight: bolder;
  z-index: 3;
  display: none;
}

.restart {
  display: none;
}

@keyframes coin {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: -440px;
  }
}

@keyframes move {
  0% {
    transform: translateX(592px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fire {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: 320px;
  }
}
.error{
  position: absolute;
 left: 700px;
 font-size: 30px;
}