:root{
    --primaryColour:#B23030;
    --primaryTextColour:white;
}
/* cambiar el color de fondo a la barra */
nav.navbar {
    background-color: var(--primaryColour) !important;
}
.dropdown-menu{
    background-color: var(--primaryColour) !important;
}
.dropdown-item{
    background-color: var(--primaryColour) !important;
}
.texto_blanco a{
    color: white !important;
}
.icono{
    width: 60px;
    height: 60px;
}
.iconobusqueda{
    width: 35px;
    height: 35px;
}
p{
    color: white;
    font-size: 160%;
}
.puntaje{
    color: white;
    font-size: 500% !important;
}
h2{
    color: white;
}
body{
    background: black;
}
.poster{
    width: 80%;
    height: 80%;
}

label{
    color: var(--primaryColour);
}
.card-title{
    margin: 0;
    padding: 0;
}
.card-body{
    margin: 0;
    padding: 6%;
    border-bottom-left-radius:5%;
    border-bottom-right-radius: 5%;
    background: var(--primaryColour);
}
.card{
    border-bottom-left-radius:5%;
    border-bottom-right-radius: 5%;
    color: var(--primaryTextColour);
    border:0;
}

.card-img-top{
    height: 300px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    height: 100px;
    width: 100px;
}